<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpyouout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/huo_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Edit_Profile_2"></activity>
        <activity android:name=".Edit_Profile" />
        <activity android:name=".Tell_Your_Problems" />
        <activity android:name=".ScoreForMH" />
        <activity
            android:name=".mentalhealthlist.Phobias"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Personality_Disorder"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Paranoia"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Obsessive_compulsive_Disorder"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Loneliness"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Hypomania_and_mania"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Hoarding"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Hearing_Voices"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Eating_Problems"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Recreational_drugs_and_Alcohol"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Dissociation_and_Dissociative_Disorder"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Depression"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Borderline_Personality"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Body_Dysmorphic_Disorder"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Bipolar_Disorder"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Anxiety_and_Panic_attacks"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".mentalhealthlist.Anger"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name=".MusicActivity" />
        <activity
            android:name=".Breathe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpStage2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpStage1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>